#featured {
  img {
    height: 100%;
    object-fit: cover;
  }

  .card {
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    &::before {
      content: "";
      position: absolute;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
      inset: 0;
      top: 50%;
    }

    figcaption {
      position: absolute;
      bottom: 0;

      padding: 24px;

      &:has(.text-lg) {
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
  }
}
